#!/bin/sh
# Listing
alias ls='eza -l --group-directories-first'
alias ll='eza -lah --group-directories-first'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Other aliases
alias vim="nvim"
