#!/bin/bash
# Color related
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
if [[ "$OSTYPE" == "linux-gnu"* ]]; then
    alias ls='ls -hN --color=auto --group-directories-first'
    alias ll='ls -alhN --color=auto --group-directories-first'
elif [[ "$OSTYPE" == "darwin"* ]]; then
    alias ls='gls -hN --color=auto --group-directories-first'
    alias ll='gls -alhN --color=auto --group-directories-first'
fi
export LS_COLORS="$LS_COLORS:ow=1;34:tw=1;34:" # Fixes highlighting in ls with folders

# Other aliases
alias vim="nvim"
alias mkd='mkdir -pv'
alias ..="cd .."
alias cl="clear"
